let mapleader = ' '
set scrolloff=10
set ignorecase smartcase
set hlsearch incsearch
set showmode
set nu rnu
set clipboard+=unnamedplus
set ideajoin
set idearefactormode=keep

" >> Plugs
set NERDTree
set surround
set commentary
set multiple-cursors

" >> Keybindings
nnoremap K :action QuickJavaDoc<CR>
vnoremap K :action MoveLineUp<CR>
vnoremap J :action MoveLineDown<CR>
" disable hl
nnoremap <leader><Esc> :noh<CR>
nnoremap <leader><Space> :action GotoAction<CR>
nnoremap <leader>x :bd<CR>
nnoremap <leader>e :NERDTreeFocus<CR>
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap <leader>lr :action Refactorings.QuickListPopupAction<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap <leader>la :action ShowIntentionActions<CR>
" nnoremap <leader>gc :action CheckinProject<CR>
" nnoremap <leader>gp :action Vcs.Push<CR>
nnoremap <Tab> :bn<CR>
nnoremap <S-Tab> :bp<CR>
