let mapleader = ' '
set scrolloff=10
set ignorecase smartcase
set hlsearch incsearch
set showmode
set nu rnu
set clipboard+=unnamedplus
set ideajoin
set idearefactormode=keep

" > Plugs
set NERDTree
set surround
set commentary
set multiple-cursors

" > Keybindings
nnoremap <Esc> :noh<CR>
nnoremap <leader>x :bd<CR>
nnoremap <leader>c :action HideAllWindows<CR>

" >> Movement
nnoremap K :action QuickJavaDoc<CR>
vnoremap K :action MoveLineUp<CR>
vnoremap J :action MoveLineDown<CR>
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

" >> Telescope-like stuff
nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fg :action TextSearchAction<CR>
nnoremap <leader>ft :action ActivateTODOToolWindow<CR>
nnoremap <leader>fb :action Switcher<CR>

" >> LSP
nnoremap <leader>la :action ShowIntentionActions<CR>
nnoremap <leader>lr :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>lm :action RunMenu<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gt :action GotoTest<CR>

" >> Run
nnoremap <leader>r :action RunClass<CR>

nnoremap <leader>e :NERDTreeFocus<CR>
" nnoremap <leader>gc :action CheckinProject<CR>
" nnoremap <leader>gp :action Vcs.Push<CR>
" nnoremap <Tab> :bn<CR>
" nnoremap <S-Tab> :bp<CR>
